{{#extends 'base'}}

{{#block "content"}}
<h1>Update Food Consumption</h1>
<form method="POST">
    <div>
        <label>Enter name of food:</label>
        <input type="text" name="foodName" class="form-control" value="{{foodRecord.foodName}}"/>
    </div>
    <div>
        <label>Calories:</label>
        <input type="number" name="calories" class="form-control" value="{{foodRecord.calories}}"/>
    </div> 
    <div>
        <label>Meal:</label>
        <input type="radio" class="form-check-input" name="meal" value="breakfast"
        {{#eq foodRecord.meal "breakfast"}}checked{{/eq}}        
        />
        <label class="form-check-label">Breakfast</label>

        <input type="radio" class="form-check-input" name="meal" value="lunch"
        {{#eq foodRecord.meal "lunch"}}checked{{/eq}}/>
        <label class="form-check-label">Lunch</label>

        <input type="radio" class="form-check-input" name="meal" value="dinner" 
           {{#eq foodRecord.meal "dinner"}}checked{{/eq}}/>        
        <label class="form-check-label">Dinner</label>

        <input type="radio" class="form-check-input" name="meal" value="snack"
               {{#eq foodRecord.meal "snack"}}checked{{/eq}}/>
        
        <label class="form-check-label">Snack</label>
    </div>
    <div>
        <label>Tags</label>
        <input type="checkbox" class="form-check-input" name="tags" value="less-oil"
        {{#inArray foodRecord.tags "less-oil"}}checked{{/inArray}}
        />
        <label class="form-check-label">Less Oil</label>
        <input type="checkbox" class="form-check-input" name="tags" value="organic"
          {{#inArray foodRecord.tags "organic"}}checked{{/inArray}}
        />
        <label class="form-check-label">Organic</label>
        <input type="checkbox" class="form-check-input" name="tags" value="glutten-free"
          {{#inArray foodRecord.tags "glutten-free"}}checked{{/inArray}}
        />
        <label class="form-check-label">Glutten Free</label>
        <input type="checkbox" class="form-check-input" name="tags" value="home-cooked"
          {{#inArray foodRecord.tags "home-cooked"}}checked{{/inArray}}/>
        <label class="form-check-label">Home cooked</label>
        <input type="checkbox" class="form-check-input" name="tags" value="vegetarian"
          {{#inArray foodRecord.tags "vegetarian"}}checked{{/inArray}}
        />
        <label class="form-check-label">Vegetarian</label>       

    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3"/>
    </div>
</form>

{{/block}}

{{/extends}}