{{#extends 'base'}}
 
        {{#block "content"}}
       <h1>Welcome to GreenArce Clothing</h1>
       <h2>Affordable artisan organic clothing for everyone</h2>
       <p>Our clothing only uses the best material from free-range farms etc. etc. etc.</p>
       {{/block}}

{{/extends}}